#about-me{
    /* background-image: linear-gradient(to bottom right, rgb(200,220,230), rgb(182,206,209));  */
    background-color: white;
}

.bg-screen{
    padding: 1rem;
    background-color: rgba(0,0,0,.40);
    color: white;
}

.bg-screen-1{
    background-color: rgba(0,0,0,.10);
    color: black;
}

.bg-screen-2{
    background-color: rgba(0,0,0,.20);
    color: black;
}

.bg-screen-3{
    background-color: rgba(0,0,0,.30);
    color: black;
}

.bg-screen-4{
    background-color: rgba(0,0,0,.40);
}
.bg-screen-5{
    background-color: rgba(0,0,0,.50)
    ;
}